.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-banner {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App .body{
  padding-top: 50px;
  padding-bottom: 50px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 200px;
}

.App #footer.container {
  background-color: #333;
  color: white;
  width: 100%;
}

.social-icon {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#footerContent > * {
  color: white;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

#footerContent h4 {
  text-align: center;
}

#footerContent p {
  text-align: left;
  padding-left: 20px;
}

/* unvisited link */
#footerContent a:link {
    color: white;
}

/* visited link */
#footerContent a:visited {
    color: white;
}

/* mouse over link */
#footerContent a:hover {
    color: white;
}

/* selected link */
#footerContent a:active {
    color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  width: 70%;
  margin: auto;
  text-align: left;
}

th {
  text-align:center;
}